<h4>Teams</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>City</th>
      <th>Name</th>
      <th>Conference</th>
      <th>Division</th>
      <th>Logo</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.id %></td>
        <td><%= team.city %></td>
        <td><%= team.name %></td>
        <td><%= team.conference %></td>
        <td><%= team.division %></td>
        <td><%= image_tag("team_logos/#{team.key}.png", width: "25", alt: team.name) unless team.key == 'FA' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
