<h3>
    <%= @fantasy_league.name %>
    <small>
        <%= link_to '[ League Settings ]', edit_fantasy_league_path(@fantasy_league), :class => 'btn-link' %>
    </small>
</h3>
<hr />

<div class="row-fluid">
    <div class="span6">
        <div class="pull-right">
            <%= link_to 'Add New Team', new_fantasy_league_fantasy_team_path(@fantasy_league), :class => 'btn' %>
        </div>
        <h4>Teams</h4>
        <hr />

        <table class="table">
          <thead>
            <tr>
              <th width="45%">Team</th>
              <th width="">Team Owner</th>
              <th width="25%"></th>
            </tr>
          </thead>

          <tbody>
            <% @fantasy_league.fantasy_teams.each do |fantasy_team| %>
              <tr>
                <td><%= fantasy_team.name %></td>
                <td><%= fantasy_team.owner %></td>
                <td>
                    <%= link_to 'Edit', edit_fantasy_league_fantasy_team_path(@fantasy_league, fantasy_team), :class => 'btn btn-small' %>
                    <%= link_to 'Delete', fantasy_league_fantasy_team_path(@fantasy_league, fantasy_team), :class => 'btn btn-small', method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
    <div class="span6">
        <div class="pull-right">
            <%= link_to 'Add New Draft', new_fantasy_league_fantasy_draft_path(@fantasy_league), :class => 'btn' %>
        </div>
        <h4>Drafts</h4>
        <hr />

        <table class="table">
          <thead>
            <tr>
              <th>Style</th>
              <th>Rounds</th>
              <th>Max Amount</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @fantasy_league.fantasy_drafts.each do |fantasy_draft| %>
              <tr>
                <td><%= fantasy_draft.fantasy_draft_style.name %> Draft</td>
                <td><%= fantasy_draft.rounds %></td>
                <td><%= fantasy_draft.max_amount %></td>
                <td>

                  <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      Actions
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to 'Draft Board', fantasy_league_fantasy_draft_path(@fantasy_league, fantasy_draft) %>
                      </li>
                      <li>
                        <%= link_to 'Players', fantasy_league_fantasy_draft_players_path(@fantasy_league, fantasy_draft) %>
                      </li>
                      <li>
                        <%= link_to 'Report Card', fantasy_league_fantasy_draft_report_path(@fantasy_league, fantasy_draft) %>
                      </li>
                      <li>
                        <%= link_to 'Manager', fantasy_league_fantasy_draft_manager_path(@fantasy_league, fantasy_draft) %>
                      </li>
                      <li>
                        <%= link_to 'Settings', edit_fantasy_league_fantasy_draft_path(@fantasy_league, fantasy_draft) %>
                      </li>
                    </ul>
                  </div>

                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
</div>