<h4>Player Projections</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Player</th>
      <th>Fantasy points</th>
      <th>Completions</th>
      <th>Attempts</th>
      <th>Pass yards</th>
      <th>Pass tds</th>
      <th>Pass ints</th>
      <th>Rush yards</th>
      <th>Rush tds</th>
    </tr>
  </thead>

  <tbody>
    <% @player_projections.each do |player_projection| %>
      <tr>
        <td>
          <%= image_tag("team_logos/#{player_projection.player.team.key}.png", width: "25", alt: player_projection.player.team.name)%>
          <%= player_projection.player.name %> (<%= player_projection.player.position.name %>)
        </td>
        <td><%= player_projection.fantasy_points %></td>
        <td><%= player_projection.completions %></td>
        <td><%= player_projection.attempts %></td>
        <td><%= player_projection.pass_yards %></td>
        <td><%= player_projection.pass_tds %></td>
        <td><%= player_projection.pass_ints %></td>
        <td><%= player_projection.rush_yards %></td>
        <td><%= player_projection.rush_tds %></td>
      </tr>
    <% end %>
  </tbody>
</table>
