<h1>Listing player_projections</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Year</th>
      <th>Fantasy points</th>
      <th>Completions</th>
      <th>Attempts</th>
      <th>Pass yards</th>
      <th>Pass tds</th>
      <th>Pass ints</th>
      <th>Rush yards</th>
      <th>Rush tds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_projections.each do |player_projection| %>
      <tr>
        <td><%= player_projection.player %></td>
        <td><%= player_projection.year %></td>
        <td><%= player_projection.fantasy_points %></td>
        <td><%= player_projection.completions %></td>
        <td><%= player_projection.attempts %></td>
        <td><%= player_projection.pass_yards %></td>
        <td><%= player_projection.pass_tds %></td>
        <td><%= player_projection.pass_ints %></td>
        <td><%= player_projection.rush_yards %></td>
        <td><%= player_projection.rush_tds %></td>
        <td><%= link_to 'Show', player_projection %></td>
        <td><%= link_to 'Edit', edit_player_projection_path(player_projection) %></td>
        <td><%= link_to 'Destroy', player_projection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player projection', new_player_projection_path %>
