<%= form_for(@fantasy_player) do |f| %>
  <div class="field">
    <%= f.label :fantasy_team_id %><br>
    <%= f.select :fantasy_team_id, options_from_collection_for_select(FantasyTeam.all.order('name'), "id", "name", @fantasy_player.fantasy_team_id) %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
