<h2>Editing Fantasy Draft Pick</h2>

<h4>
    <%= @fantasy_player.player.name %>
    <small>
        [<%= @fantasy_player.player.team.name %>]
        [<%= @fantasy_player.player.position.name %>]
    </small>
</h4>
<hr />

<%= render 'form' %>

<%= link_to 'Show', @fantasy_player %> |
<%= link_to 'Back', fantasy_players_path %>
