<h1>Listing fantasy_league_fantasy_teams</h1>

<table>
  <thead>
    <tr>
      <th>Fantasy league</th>
      <th>Fantasy team</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fantasy_league_fantasy_teams.each do |fantasy_league_fantasy_team| %>
      <tr>
        <td><%= fantasy_league_fantasy_team.fantasy_league %></td>
        <td><%= fantasy_league_fantasy_team.fantasy_team %></td>
        <td><%= link_to 'Show', fantasy_league_fantasy_team %></td>
        <td><%= link_to 'Edit', edit_fantasy_league_fantasy_team_path(fantasy_league_fantasy_team) %></td>
        <td><%= link_to 'Destroy', fantasy_league_fantasy_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fantasy league fantasy team', new_fantasy_league_fantasy_team_path %>
