<p id="notice"><%= notice %></p>

<p>
  <strong>Fantasy league:</strong>
  <%= @fantasy_league_fantasy_team.fantasy_league %>
</p>

<p>
  <strong>Fantasy team:</strong>
  <%= @fantasy_league_fantasy_team.fantasy_team %>
</p>

<%= link_to 'Edit', edit_fantasy_league_fantasy_team_path(@fantasy_league_fantasy_team) %> |
<%= link_to 'Back', fantasy_league_fantasy_teams_path %>
