<h4>Player Auction Values</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Player</th>
      <th>Min price</th>
      <th>Max price</th>
      <th>Avg price</th>
    </tr>
  </thead>

  <tbody>
    <% @player_auction_values.each do |player_auction_value| %>
      <tr>
        <td>
          <%= image_tag("team_logos/#{player_auction_value.player.team.key}.png", width: "25", alt: player_auction_value.player.team.name)%>
          <%= player_auction_value.player.name %> (<%= player_auction_value.player.position.name %>)
        </td>
        <td><%= player_auction_value.min_price %></td>
        <td><%= player_auction_value.max_price %></td>
        <td><%= player_auction_value.avg_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
