<%= form_for(@fantasy_draft_order) do |f| %>
  <% if @fantasy_draft_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fantasy_draft_order.errors.count, "error") %> prohibited this fantasy_draft_order from being saved:</h2>

      <ul>
      <% @fantasy_draft_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fantasy_league_id %><br>
    <%= f.text_field :fantasy_league_id %>
  </div>
  <div class="field">
    <%= f.label :fantasy_team_id %><br>
    <%= f.text_field :fantasy_team_id %>
  </div>
  <div class="field">
    <%= f.label :fantasy_draft_id %><br>
    <%= f.text_field :fantasy_draft_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
