<%= form_for(@fantasy_draft_style) do |f| %>
  <% if @fantasy_draft_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fantasy_draft_style.errors.count, "error") %> prohibited this fantasy_draft_style from being saved:</h2>

      <ul>
      <% @fantasy_draft_style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
