<h1>Listing player_ranks</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Year</th>
      <th>Position rank</th>
      <th>Overall rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_ranks.each do |player_rank| %>
      <tr>
        <td><%= player_rank.player %></td>
        <td><%= player_rank.year %></td>
        <td><%= player_rank.position_rank %></td>
        <td><%= player_rank.overall_rank %></td>
        <td><%= link_to 'Show', player_rank %></td>
        <td><%= link_to 'Edit', edit_player_rank_path(player_rank) %></td>
        <td><%= link_to 'Destroy', player_rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player rank', new_player_rank_path %>
