<div data-role="collapsible">
    <h4><center>Filter By Position</center></h4>
    <p>
      <a class="ui-btn" href="<%=fantasy_league_fantasy_draft_cheatsheet_path%>">All</a>
      <% Position.all.each do |position| %>
        <%= link_to position.name, fantasy_league_fantasy_draft_cheatsheet_path(:position_id => position.id), :class => 'ui-btn' %>
      <% end %>
    </p>
</div>

<form>
    <input id="filter-for-listview" data-type="search" placeholder="Type to search...">
</form>

<ul data-role="listview" data-inset="true" data-filter="true" data-input="#filter-for-listview">
  <% @player_ranks.each do |player_rank| %>
  <li>
    <% if params[:position_id] %>
        <%= player_rank.position_rank %>.
    <% else %>
        <%= player_rank.overall_rank %>.
    <% end %>
       <%= player_rank.player.name %> [<%= player_rank.player.position.name %>]  [<%= player_rank.player.team.key %>]

    <div style="float:right">
      <% if not player_rank.player.player_auction_value.nil?%>
        <% if player_rank.player.player_auction_value.avg_price != 0 %>
            $<%= player_rank.player.player_auction_value.avg_price %>
        <% else %>
            $1
        <% end %>
      <% else %>
          $1
      <% end %>
    </div>

  <% end %>
  </li>
</ul>

<script type="text/javascript">
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var pusher = new Pusher('a85a38516f6db88b62ae');
  var channel = pusher.subscribe('dashboard');
  channel.bind('refresh_dashboard', function(data) {
    location.reload();
  });
</script>
