<form>
    <input id="filter-for-listview" data-type="search" placeholder="Type to search...">
</form>


<ul data-role="listview" data-inset="true" style="min-width:210px;">
    <li data-role="list-divider">Filter By Position</li>
    <li><a href="<%=fantasy_league_fantasy_draft_players_path%>">All</a></li>
    <% Position.all.each do |position| %>
        <li><%= link_to position.name, fantasy_league_fantasy_draft_players_path(:position_id => position.id) %></li>
    <% end %>
</ul>


<ul data-role="listview" data-inset="true" data-filter="true" data-input="#filter-for-listview">
  <% @player_ranks.each do |player_rank| %>
  <li>
    <%= player_rank.position_rank %>.   <%= player_rank.player.name %> (<%= player_rank.player.position.name %>)
  <% end %>
  </li>
</ul>
