<div class="container-fluid">

    <div class="row-fluid">
        <div class="span12">
            <div id="board_logo">
                <%= image_tag("nfl_logo.png")%>
            </div>
            <div id="board_name">
                Fantasy Draft Auctioneer
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 draft_board_league_row">
            <div class="draft_board_league_name">
                <%=@fantasy_league.name%>
            </div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span12">
            <ul class="draft_order">
                <% @fantasy_order.each do |fantasy_team| %>
                    <li class="draft_order__slot">
                        <%= fantasy_team.name %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span10">

            <div id="draft_board">
                <ul class="draft_board__round_column">
                    <li style="border-bottom:none">
                        &nbsp;
                    </li>
                    <li style="height:20px;">
                        &nbsp;
                    </li>
                    <% @fantasy_draft.rounds.times do |round| round = round + 1 %>
                        <li>
                            <%=round%>
                        </li>
                    <% end %>
                </ul>

                <%
                    @fantasy_draft_orders.each do |fantasy_draft_order|
                        fantasy_players = FantasyPlayer
                                                .where(
                                                    fantasy_draft_id: params[:id],
                                                    fantasy_league_id: params[:fantasy_league_id],
                                                    fantasy_team_id: fantasy_draft_order.fantasy_team.id
                                                ).order('id ASC')

                        team_rounds = @fantasy_draft.rounds.to_i - fantasy_players.size.to_i

                        total_spent = 0;

                        if fantasy_players.any?

                            fantasy_players.each do |fantasy_player|
                                total_spent += fantasy_player.price
                            end
                        end

                        max_bid = @fantasy_draft.max_amount - total_spent - (@fantasy_draft.rounds - fantasy_players.size.to_i)


                %>
                    <ul class="draft_board__column">
                        <li style="border-bottom:none">
                            <%=fantasy_draft_order.fantasy_team.name%>
                        </li>
                        <li style="text-align:center; line-height: 15px; font-size:12px; height:20px; ">
                            Max Bid: $<%=max_bid + 1%>
                        </li>
                        <%
                            if fantasy_players.any?
                                fantasy_players.each do |fantasy_player|
                        %>
                                    <li class="<%=fantasy_player.player.position.name%>">
                                        <div class="draft_pick_card">
                                            <span class="label label-info pull-left"><%=fantasy_player.player.position.name%></span>
                                            <span class="label label-info pull-right">$<%=fantasy_player.price%></span>
                                            <div class="first_name"><%=fantasy_player.player.first_name%></div>
                                            <div class="last_name"><%=fantasy_player.player.last_name%></div>

                                        </div>
                                    </li>
                        <%
                                end
                            end
                        %>

                        <% team_rounds.times do |round| round = round + 1  %>
                            <li>

                            </li>
                        <% end %>
                    </ul>
                <% end %>

            </div>
        </div>
        <div class="span2" style="margin-left:10px">
            <div class="on_the_block">
                <% if @fantasy_draft.player_id %>
                    <div class="otb_info">
                        <div class="otb_first_name"><%= @fantasy_draft.player.first_name %></div>
                        <div class="otb_last_name"><%= @fantasy_draft.player.last_name %></div>
                        <div class="otb_team"><%= @fantasy_draft.player.position.name %> | <%= @fantasy_draft.player.team.full_name %></div>
                        <div class="otb_college">College: <%= @fantasy_draft.player.college %></div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="otb_other_info clearfix">
                    </div>
                <% else %>
                    <div class="next_pick">
                        Next Pick<br />
                        <div class="name">
                            <%= @fantasy_order.first.name %>
                        </div>
                        <div class="owner">
                            <%= @fantasy_order.first.owner %>
                        </div>
                    </div>

                <% end %>

            </div>

            <div class="previous_draft_picks">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Previous Picks</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%@fantasy_players.each do |fantasy_player| %>
                            <tr>
                                <td><%= fantasy_player.player.name %> - <small><%= fantasy_player.fantasy_team.name %></small> </td>
                                <td>$<%= fantasy_player.price %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>


<script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('a85a38516f6db88b62ae');
    var channel = pusher.subscribe('dashboard');
    channel.bind('refresh_dashboard', function(data) {
      location.reload();
    });
  </script>
