<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fantasy_team.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @fantasy_team.owner %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @fantasy_team.logo %>
</p>

<%= link_to 'Edit', edit_fantasy_team_path(@fantasy_team) %> |
<%= link_to 'Back', fantasy_teams_path %>
