<h4>Players</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td>
        <%= image_tag("team_logos/#{player.team.key}.png", width: "25", alt: player.team.name)%>
           <%= player.last_name %>, <%= player.first_name %> (<%= player.position.name %>)
        </td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
