<p id="notice"><%= notice %></p>

<p>
  <strong>League:</strong>
  <%= @player.league %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Ffn player:</strong>
  <%= @player.ffn_player_id %>
</p>

<p>
  <strong>College:</strong>
  <%= @player.college %>
</p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @player.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @player.weight %>
</p>

<p>
  <strong>Uniform number:</strong>
  <%= @player.uniform_number %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @player.date_of_birth %>
</p>

<p>
  <strong>Active:</strong>
  <%= @player.active %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
