<%= form_for(@draft) do |f| %>
  <% if @draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draft.errors.count, "error") %> prohibited this draft from being saved:</h2>

      <ul>
      <% @draft.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fantasy_league_id %><br>
    <%= f.text_field :fantasy_league_id %>
  </div>
  <div class="field">
    <%= f.label :fantasy_draft_style_id %><br>
    <%= f.text_field :fantasy_draft_style_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.text_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :max_amount %><br>
    <%= f.number_field :max_amount %>
  </div>
  <div class="field">
    <%= f.label :rounds %><br>
    <%= f.number_field :rounds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
