<p id="notice"><%= notice %></p>

<p>
  <strong>Fantasy league:</strong>
  <%= @draft.fantasy_league %>
</p>

<p>
  <strong>Fantasy draft style:</strong>
  <%= @draft.fantasy_draft_style %>
</p>

<p>
  <strong>Player:</strong>
  <%= @draft.player %>
</p>

<p>
  <strong>Max amount:</strong>
  <%= @draft.max_amount %>
</p>

<p>
  <strong>Rounds:</strong>
  <%= @draft.rounds %>
</p>

<%= link_to 'Edit', edit_draft_path(@draft) %> |
<%= link_to 'Back', drafts_path %>
